In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [6]:
off_train_path = r'E:/DataSet/Tianchi/o2oSeason1/O2O_data/ccf_offline_stage1_train.csv'
off_test_path = r'E:/DataSet/Tianchi/o2oSeason1/O2O_data/ccf_offline_stage1_test_revised.csv'
on_train_path = r'E:/DataSet/Tianchi/o2oSeason1/O2O_data/ccf_online_stage1_train.csv'

off_train = pd.read_csv(off_train_path, keep_default_na=True)
off_train.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 'distance', 'date_received', 'date']

off_test = pd.read_csv(off_test_path, keep_default_na=True)
off_test.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 'distance', 'date_received']

on_train = pd.read_csv(on_train_path, keep_default_na=True)
on_train.columns = ['user_id', 'merchant_id', 'coupon_id', 'discount_rate', 'distance', 'date_received', 'date']

# 数据查看

In [7]:
off_train.head()

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
1,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
2,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
3,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN
4,1439408,2632,NaN,NaN,0.0,NaN,20160516.0

In [8]:
off_test.head()

   user_id  merchant_id  coupon_id discount_rate  distance  date_received
0  6949378         1300       3429          30:5       NaN       20160706
1  2166529         7113       6928        200:20       5.0       20160727
2  2166529         7113       1808        100:10       5.0       20160727
3  6172162         7605       6500          30:1       2.0       20160708
4  4005121          450       9983          30:5       0.0       20160706

In [9]:
on_train.head()

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,13740231,34805,1,NaN,NaN,NaN,20160321.0
1,14336199,18907,0,NaN,NaN,NaN,20160618.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0

In [10]:
off_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754883 entries, 0 to 1754882
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        int64
 1   merchant_id    int64
 2   coupon_id      float64
 3   discount_rate  object
 4   distance       float64
 5   date_received  float64
 6   date           float64
dtypes: float64(4), int64(2), object(1)
memory usage: 93.7+ MB

In [11]:
off_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113639 entries, 0 to 113638
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        113639 non-null  int64
 1   merchant_id    113639 non-null  int64
 2   coupon_id      113639 non-null  int64
 3   discount_rate  113639 non-null  object
 4   distance       101575 non-null  float64
 5   date_received  113639 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 5.2+ MB

In [12]:
on_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11429825 entries, 0 to 11429824
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        int64
 1   merchant_id    int64
 2   coupon_id      int64
 3   discount_rate  object
 4   distance       object
 5   date_received  float64
 6   date           float64
dtypes: float64(2), int64(3), object(2)
memory usage: 610.4+ MB

In [13]:
off_train.describe()

,user_id,merchant_id,coupon_id,distance,date_received,date
count,1.754883e+06,1.754883e+06,1.053282e+06,1.648880e+06,1.053282e+06,7.769830e+05
mean,3.689256e+06,4.038809e+03,6.815398e+03,2.361637e+00,2.016032e+07,2.016040e+07
std,2.123428e+06,2.435963e+03,4.174276e+03,3.483975e+00,1.771416e+02,1.621500e+02
min,4.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,2.016010e+07,2.016010e+07
25%,1.845052e+06,1.983000e+03,2.840000e+03,0.000000e+00,2.016013e+07,2.016031e+07
50%,3.694453e+06,3.532000e+03,7.430000e+03,0.000000e+00,2.016032e+07,2.016042e+07
75%,5.528759e+06,6.329000e+03,1.032300e+04,3.000000e+00,2.016051e+07,2.016052e+07
max,7.361032e+06,8.856000e+03,1.404500e+04,1.000000e+01,2.016062e+07,2.016063e+07

# 数据缺失情况

In [14]:
off_train.isnull().sum()

user_id               0
merchant_id           0
coupon_id        701601
discount_rate    701601
distance         106003
date_received    701601
date             977900
dtype: int64

In [15]:
off_test.isnull().sum()

user_id              0
merchant_id          0
coupon_id            0
discount_rate        0
distance         12064
date_received        0
dtype: int64

In [16]:
on_train.isnull().sum()

user_id                 0
merchant_id             0
coupon_id               0
discount_rate    10557469
distance         10557469
date_received    10557469
date               655897
dtype: int64

# 数据边界探索

In [20]:
print('offline train date_received')
print(off_train[off_train['date_received'] != 'null']['date_received'].min())
print(off_train[off_train['date_received'] != 'null']['date_received'].max())

print('online train date_received')
print(on_train[on_train['date_received'] != 'null']['date_received'].min())
print(on_train[on_train['date_received'] != 'null']['date_received'].max())

print('test date_received')
print(off_test['date_received'].min())
print(off_test['date_received'].max())

offline train date_received
20160101.0
20160615.0
online train date_received
20160101.0
20160615.0
test date_received
20160701
20160731

In [22]:
print('offline train date')
print(off_train[off_train['date'] != 'null']['date'].min())
print(off_train[off_train['date'] != 'null']['date'].max())

print('online train date')
print(on_train[on_train['date'] != 'null']['date'].min())
print(on_train[on_train['date'] != 'null']['date'].max())

offline train date
20160101.0
20160630.0
online train date
20160101.0
20160630.0

In [25]:
# 查看online和offline训练集的user_id与测试集的重合度
off_train_user = off_train[['user_id']].copy().drop_duplicates()
off_test_user = off_test[['user_id']].copy().drop_duplicates()
on_train_user = on_train[['user_id']].copy().drop_duplicates()
print('offline训练集用户ID数量')
print(off_train_user.user_id.count())
print('online训练集用户ID数量')
print(on_train_user.user_id.count())
print('offline测试集用户ID数量')
print(off_test_user.user_id.count())

offline训练集用户ID数量
539438
online训练集用户ID数量
762858
offline测试集用户ID数量
76308

In [28]:
off_train_user['off_train_flag'] = 1
off_merge = off_test_user.merge(off_train_user, on='user_id', how='left').reset_index().fillna(0)
print('offline 训练集用户与测试集用户的重复数量')
print(off_merge['off_train_flag'].sum())
print('offline 训练集用户与测试集重复用户在总测试集用户中的占比')
print(off_merge['off_train_flag'].sum() / off_merge['off_train_flag'].count())

on_train_user['on_train_flag'] = 1
on_merge = off_test_user.merge(on_train_user, on='user_id', how='left').reset_index().fillna(0)
print('online 训练集用户与测试集用户的重复数量')
print(on_merge['on_train_flag'].sum())
print('online 训练集用户与测试集重复用户在总测试集用户中的占比')
print(on_merge['on_train_flag'].sum() / on_merge['on_train_flag'].count())

offline 训练集用户与测试集用户的重复数量
76306.0
offline 训练集用户与测试集重复用户在总测试集用户中的占比
0.9999737904282644
online 训练集用户与测试集用户的重复数量
43155.0
online 训练集用户与测试集重复用户在总测试集用户中的占比
0.5655370341248624

In [ ]:
#  查看online和offline训练集和merchant_id与测试集的重合度
off_train_